@font-face {
  font-family: 'november';
  src: url('/static/november.woff2') format('woff2'),
       url('/static/november.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '3d-pixel';
  src: url('/static/3d-pixel.woff2') format('woff2'),
       url('/static/3d-pixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes flicker {
  0% { color: #f00; left: 0px; }
  24% { color: #f00; left: 0px; }
  25% { color: #0f0; left: -10px; }
  49% { color: #0f0; left: -10px; }
  50% { color: #00f; left: 0px; }
  74% { color: #00f; left: 0px; }
  75% { color: #000; left: -10px; }
  100% { color: #000; left: -10px; }
}

@keyframes flicker-color {
  0% { color: #f00; }
  24% { color: #f00; }
  25% { color: #0f0; }
  49% { color: #0f0; }
  50% { color: #00f; }
  74% { color: #00f; }
  75% { color: #000; }
  100% { color: #000; }
}

@keyframes breathe {
  0% { background-color: #777; }
  100% { background-color: #555; }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "november", monospace;
  font-size: 20px;
  overflow-y: scroll;
}

h1 {
  text-align: center;
  font-size: 120px;
  line-height: 30px;
  font-family: "3d-pixel";
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.flickering {
  position: relative;
  animation: flicker 0.5s linear infinite;
}
.anim-once {
  animation-iteration-count: 1;
}
.flicker-color {
  animation: flicker-color 0.2s linear infinite;
}

.centered {
  margin: auto;
  max-width: 800px;
  position: relative;
}

.nav {
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 100;
}

.hidden {
  display: none;
}

.typeahead {
  width: 100%;
  padding: 30px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 4px solid #fff;
  border-radius: 0;
}
.typeahead:focus {
  border-color: #333;
}

input {
  font-family: "november", monospace;
}
input[type=file] {
  display: none;
}

.clickable {
  cursor: pointer;
}

.drag-n-drop {
  width: 100%;
  text-align: center;
  height: 50vh;
  border: 4px solid #333;
  background-color: #666;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  text-shadow: #333 1px 1px;
  animation: breathe 2.5s ease-in-out infinite alternate;
}

.drag-n-drop label {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.arrow:before {
  float: right;
  background-color: #333;
  color: #fff;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  position: relative;
  top: -7px;
  margin-left: 4px;
  display: none;
}
.up-arrow:before {
  content: "^";
}
.down-arrow:before {
  content: "^";
  transform: rotate(180deg);
}

.emulator a {
  display: block;
  padding: 30px;
  padding-top: 32px;
  border: 4px solid #fff;
}
.mousemode .emulator a:hover, .emulator a.top-hit {
  background-color: #ff0;
  border-color: #333;
}
.emulator a.top-hit .arrow:before {
  display: inline-block;
}

.progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
}

.progress-percent {
  height: 100%;
  background-color: #0f0;
  transition: width 0.2s linear;
}

.success .upload-first {
  display: none;
}

.upload-success {
  display: none;
}
.upload-success-inline {
  display: none;
}

.success .upload-success {
  display: block;
}

.success .upload-success-inline {
  display: inline;
}

.success-color {
  color: #0f0;
}

.upload-cta {
  position: relative;
  z-index: 1;
}
.uploading .upload-cta {
  display: none;
}

.uploading-msg {
  position: relative;
  z-index: 1;
  display: none;
}
.uploading .uploading-msg {
  display: block;
}


a, a:visited, a:active {
  color: #333;
  text-decoration: none;
}
